body{
  background-color: #f8f8f8;
}
.container{
  background-color: #fff;
  /*padding: 250px;*/
}
.inti {
  padding-bottom: 30px;
}
.bagian-tengah{
  background-color: #fff;
  padding-top: 10px;
}
